<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoodFoodGoodMood</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="style.css">-->
  </head>
  <body>
    <section style="position:relative; box-sizing:border-box; display:block; ">
        <img src="food.jpg" style="width: 300px; left:auto; right:0; height:300px;">
        <div style="width:116px; margin-left:16px; border-color:#454545; border-width: 9; display:block; margin-top:25px; margin-right:444px"></div>
        <h1 style="background: 5px solid gold; text-align: center; margin-left:16px; margin-right:16px; margin-top:-162px; font-weight:800; font-size:6rem;">
            GOOD FOOD
            <br>GOOD MOOD</br>
        </h1>
        <div style="flex-direction:row; display:flex; max-width:30%; word-wrap:break-word; margin-inline: auto; font-family:open-sans, sans-serif; font-size: 16px; line-height:1.6rem;">
            <div style="display:block; position:relative; text-align:left;">
                <p>Born more than 40 years ago as Mr. Natural's Good Food Store, we're
                    still Missoula's home for locally-produced, organic and bulk foods.
                    Now our name's a little shorter. And the store’s a lot bigger.
                    But our mission remains the same:
                </p>
                <a style="text-decoration:none; color:black; border-bottom: 5px solid gold" href="url">Read More</a>
            </div>
            <div style="display:block; position:relative; text-align:left; border-left: 5px solid gold; height:5%; max-width:45%;">
                <p style="padding-left: 5px;">The Good Food Store is dedicated to supporting a healthy community.
                    We provide a wide selection of organic food and natural products,
                    conduct our business in an ethical and respectful manner and donate
                    to organizations in need.
                </p>
            </div>
        </div>
    </section>
	<script src="index.js"></script>
  </body>
</html>