{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoodFoodGoodMood</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <section style="position:relative; box-sizing:border-box; display:block; ">
        <img src="{% static 'frenchtoast.jpg' %}" style="float:right; max-width:40%">
        <div style="width:116px; margin-left:16px; border-color:#454545; border-width: 9; display:block; margin-top:25px; margin-right:444px">&nbsp</div>
        <h1 class="title">
            GOOD FOOD
            <div class="title-rec">&nbsp</div>
<!--            fabd02-->
            <br>GOOD MOOD
        </h1>
        <div class="content-div">
            <div style="display:block; position:relative; text-align:left;">
                <p style="padding-right:6%">Founded in 2015 by Laurem Ipsum, Sunrise Delight started with a passion for
                    perfecting her grandmother's French toast recipe. What began in a small kitchen quickly grew into a
                    beloved breakfast destination, known for our fresh, locally sourced ingredients and innovative
                    twists on classic flavors. Join us for a taste of tradition and creativity every morning.
                </p>
                <a class="read-more" href="url">Read More</a>
            </div>
            <div class="content-mission-statement">
                <p style="padding-left: 5%;">At Sunrise Delight, we aim to brighten your mornings with the finest French
                    toast made from fresh, locally sourced ingredients. We blend traditional flavors with innovative
                    twists to create an unforgettable breakfast experience. Our mission is to bring warmth and
                    happiness to every customer, one delicious bite at a time.
                </p>
                <a class="order-now" href="/orders">Order Now</a>
            </div>
        </div>
    </section>
    <section>

    </section>
	<script src="index.js"></script>
  </body>
</html>