{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoodFoodGoodMood</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <section style="position:relative; box-sizing:border-box; display:block; ">
        <img src="{% static 'frenchtoast.jpg' %}" style="float:right; max-width:40%">
        <div style="width:116px; margin-left:16px; border-color:#454545; border-width: 9; display:block; margin-top:25px; margin-right:444px">&nbsp</div>
        <h1 class="title">
            GOOD FOOD
            <div class="title-rec">&nbsp</div>
<!--            fabd02-->
            <br>GOOD MOOD
        </h1>
        <div class="content-div">
            <div style="display:block; position:relative; text-align:left;">
                <p style="padding-right:6%">Born more than 40 years ago as Mr. Natural's Good Food Store, we're
                    still Missoula's home for locally-produced, organic and bulk foods.
                    Now our name's a little shorter. And the store’s a lot bigger.
                    But our mission remains the same:
                </p>
                <a class="read-more" href="url">Read More</a>
            </div>
            <div class="content-mission-statement">
                <p style="padding-left: 5%;">The Good Food Store is dedicated to supporting a healthy community.
                    We provide a wide selection of organic food and natural products,
                    conduct our business in an ethical and respectful manner and donate
                    to organizations in need.
                </p>
            </div>
        </div>
    </section>
    <section>

    </section>
	<script src="index.js"></script>
  </body>
</html>