{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GoodFoodGoodMood</title>
        <link rel="stylesheet" href="{% static 'order-style.css' %}">
    </head>
    <body>
        <div class="order-form">

            <form>
                <h2>Sunset Delight Order Form</h2>
                <div class="inst">Please fill out the form below to place your order.</div>
                <div>
                    <label style="display:block; padding-top:10px; padding-bottom:10px; font-weight:700;">French Toast (Maple Syrup included)</label>
                    <div class="surrounding-div">
                        <select style="width:100%;">
                            <option valuedisabled>Select your toppings</option>
                            <option value="product1">Blueberries</option>
                            <option value="product2">Bananna</option>
                            <option value="product3">Mixed berries (Strawberries, Blueberries, Rhaspberries)</option>
                        </select>
                    </div>
                    <div class="surrounding-div">
                        <input class="input-info" placeholder="Enter Quantity" inputmode="text" autocomplete="off">
                    </div>
                    <div class="surrounding-div">
                        <input class="input-info" placeholder="Delivery Date" type="date" inputmode="text" autocomplete="off">
                    </div>
                    <div class="surrounding-div">
                        <label style="display:block; font-weight:700;">Delivery Times</label>
                        <div>
                            <input name="9am" style="width:19px; height:19px; background-color:gray;" type="checkbox">
                            <label style="width:45%; display:inline-block;" for="9am">9:00 AM - 11:00 AM</label>
                            <input name="11am" style="width:19px; height:19px; background-color:gray;" type="checkbox">
                            <label style="width:43%; display:inline-block;" for="11am">11:00 AM - 1:00 PM</label>
                            <input name="1pm" style="width:19px; height:19px; background-color:gray;" type="checkbox">
                            <label style="width:45%; display:inline-block;" for="1pm">1:00 PM - 3:00 PM</label>
                            <input name="3pm" style="width:19px; height:19px; background-color:gray;" type="checkbox">
                            <label style="width:40%; display:inline-block;" for="3pm">3:00 PM - 5:00 PM</label>
                        </div>
                    </div>
                    <div class="surrounding-div">
                        <input class="input-info" placeholder="Name" inputmode="text" autocomplete="off">
                    </div>
                    <div class="surrounding-div">
                        <input class="input-info" style="width:45%; margin-right:9%" placeholder="Email" inputmode="text" autocomplete="off">
                        <input class="input-info" style="width:45%;" placeholder="Phone" inputmode="text" autocomplete="off">
                    </div>
                    <div class="surrounding-div">
                        <textarea max-length="1000" placeholder="Additional Comments" class="input-comments"></textarea>
<!--                        <input class="input-comments" placeholder="Additional Comments" inputmode="text" autocomplete="off">-->
                    </div>
                    <a class="place-order" href="">Place Order</a>
                </div>

            </form>
        </div>

    </body>
</html>